@page "/game"

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <EncounterDisplay />
        </div>
        <div class="col-4">
            <MessagesDisplay />
        </div>
        <div class="col-4">
            <PartyDisplay />
        </div>
    </div>
</div>


@code {

}