@page "/"
@inject IPartyProvider PartyProvider

<h1>Hello, dungeon!</h1>

Peril and, perhaps, riches await...

@if (Party.Count < 1)
{
<p><em>Gathering party...</em></p>
}
@foreach (var character in Party)
{
<CharacterDisplay Character="character"/>
}

@code {
    private string name = "unknown";
    private List<Character> Party = new List<Character>();

    protected override void OnInitialized()
    {
        name = PartyProvider.Party[0].Name;
        Party = PartyProvider.Party;
    }
}