@page "/"

<h1>Ordeal of Kylan</h1>
<img src="assets/splash-intro.png" width="800" />
<p>
    <strong>You</strong>, your partner-in-crime <strong>Johanna</strong>, and your faerie friend <strong>Cyrenae</strong> have been arrested by the authorities of the authoritarian <strong>Temple of Kylan</strong>. You are charged with <strong>petty theft</strong>, <strong>consorting with the fey</strong>,
        <strong>second-degree irreverence</strong> and <strong>pursuing an unwholesome lifestyle.</strong> Helpless in the face of the Temple's zealous Prosecutor Lords, the three of you sieze your only hope for freedom and demand a <strong>Trial by Ordeal.</strong>
</p>
<p>
    The judge is unmerciful, and your ordeal is set: you are to retrieve a <strong>Suncrystal shard</strong> from the deadly <strong>Delve of Gehennoth</strong>. Suncrystal shards are holy to Kylan, and retrieving one would be an unmistakeable sign of his
    favor. Unfortunately, the Delve of Gehennoth is notorious for its <strong>peril</strong>, and in particular its many <strong>transforming hazards</strong>. The stories say of every twenty people who have entered, fifteen are there still, immobile...
</p>
<p>Regardless, you have no choice. You gather your friends and the small amount of equipment you're allowed, muster your courage, and <strong>set forth...</strong></p>
<h2><a href="game">Onward!</a></h2>

@code {

}
