@page "/victory"
@inject NavigationManager NavManager

<h1>Victory!</h1>
<img src="@SplashImage" width="1200" />
<p>You and your friends have been judged by the mighty <strong>Kylan</strong>, and found <strong>worthy</strong>! As you step out of the Delve brandishing the Suncrystal shard, the guards look on in awe. You take a few moments to refresh yourselves and find fresh clothes. The stunned guards lead you back to civilization. Not only have you earned your freedom, but the priceless Suncrystal shard, together with the other treasures you recovered, makes you all quite wealthy. You look forward to enjoying unmolested lives full of love, freedom, and joy.</p>
<h2><a href="epilogue">Epilogue</a></h2>

@code {

    public string SplashImage
    {
        get
        {
            System.Text.StringBuilder sb = new System.Text.StringBuilder("assets/splash-victory.png");
            return sb.ToString();
        }
    }
}

