<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@CharacterLabel</h5>
        <h6 class="card-subtitle mb-2">Status: @StatusText</h6>
        <img src="@Character.Image" width="250"/>
 <!--       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>-->
    </div>
</div>

@code {
    [Parameter]
    public Character Character { get; set; }

    private string StatusText
    {
        get
        {
            if (Character.Statuses.Count == 0)
            {
                return "Good";
            }
            else
            {
                return Character.Statuses[0];
            }
        }
    }

    private string CharacterLabel
    {
        get
        {
            if (Character.IsPlayer)
            {
                return Character.Name + " (You)";
            }
            else
            {
                return Character.Name;
            }
        }
    }


}
