@inject IEncounterProvider EncounterProvider
@inject IPartyProvider PartyProvider
@inject IMessageProvider MessageProvider

<h4>@EncounterProvider.EncounterName</h4>

@foreach (var encounter in EncounterProvider.Encounters)
{
    <button @onclick="()=>HaveEncounter(encounter)" class="btn btn-primary">@encounter.Text</button>
}

@code {
    //TODO this should not have a party provider and shouldn't be here

    private int petrifiedCharacters;
    protected override void OnInitialized()
    {
        petrifiedCharacters = 0;
    }

    private void HaveEncounter(EncounterChoice e)
    {
        if (e.Text == "Proceed Recklessly")
        {
            Character targetChar = PartyProvider.Party.GetRandomCharacter();
            if (targetChar.HasStatus("Petrified"))
            {
                return;
            }
            petrifiedCharacters += 1;
            if (targetChar.IsPlayer)
            {
                MessageProvider.AddMessage("You are now a statue.");
            }
            else
            {
                MessageProvider.AddMessage(targetChar.Name + " is now a statue.");
            }

            targetChar.AddStatus("Petrified");
            if (petrifiedCharacters == 3)
            {
                MessageProvider.AddMessage("Your entire party is now trapped, petrified, in the dungeon.");
            }
            PartyProvider.CallRequestRefresh();
        }
        else
        {
            MessageProvider.AddMessage("You find a shiny copper coin.");
        }


        MessageProvider.CallRequestRefresh();

    }
}
