@inject IEncounterProvider EncounterProvider
@inject IPartyProvider PartyProvider
@inject IMessageProvider MessageProvider
@inject NavigationManager NavManager

<h4>@encounter.Title</h4>
<p>@encounter.Description</p>

@foreach (var choice in encounter.Choices)
{
    <button @onclick="()=>HaveEncounter(choice)" class="btn btn-primary">@choice.Text</button>
}

@code {
    private IEncounter encounter;
    private Party party;
    protected override void OnInitialized()
    {
        party = PartyProvider.Party;
        encounter = EncounterProvider.NextEncounter;
        EncounterProvider.RefreshRequested += RefreshMe;
    }

    private void HaveEncounter(IEncounterChoice e)
    {
        IEnumerable<string> messages = e.Choose(party, null);
        foreach (string message in messages)
        {
            MessageProvider.AddMessage(message);
        }
        MessageProvider.CallRequestRefresh();
        PartyProvider.CallRequestRefresh();
        if (party.GameOver)
        {
            NavManager.NavigateTo("gameover");
        }
        EncounterProvider.NextEncounter = e.GetNextEncounter(party, encounter);
        encounter = EncounterProvider.NextEncounter; //apparently this is the main loop?
        EncounterProvider.CallRequestRefresh();
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }
}
