@inject IPartyProvider PartyProvider

<h4>Party</h4>
@if (Party.PartyMembers.Count < 1)
{
    <p><em>Gathering party...</em></p>
}
@foreach (var character in Party.PartyMembers)
{
    <CharacterDisplay Character="character" />
}
@code {
    private Party Party = new Party();

    protected override void OnInitialized()
    {
        Party = PartyProvider.Party;
        PartyProvider.RefreshRequested += RefreshMe;
    }


    private void RefreshMe()
    {
        StateHasChanged();
    }
}
